<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col">
            <h5 class="main-title text-center">
                <%= @user.name %>
            </h5>
            <% if @user.avatar.present? %>
                <p class="text-center"><%= image_tag @user.avatar.url, class: 'user-avatar img-fluid border rounded-circle shadow' %></p>
            <% else %>
                <%= link_to 'Upload your own picture now', edit_user_path(@user), class: 'controls' %>
            <% end %>
            <h5 class="text-center">
                <%= @user.email %>
            </h5>
        </div>
    </div>
</div>


<%= link_to 'Edit', edit_user_path(@user), class: 'controls' %> |
<%= link_to 'Back', '/', class: 'controls' %>
