<p id="notice"><%= notice %></p>

<h1>Traveling memories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class="article-rows container border rounded shadow pl-5 pr-5">
        <td class="resources"><%= link_to post.title, post, class: 'article-link' %></td>
        <td>
          <% if post.user == current_user %>
            <%= link_to 'Edit', edit_post_path(post), class: 'article-editers' %>
          <% end %>
        </td>
        <td>
          <% if post.user == current_user %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'article-editers' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
  <%= link_to 'Add an article', new_post_path, class: 'add-article' %>
<% end %>
